@import "~styles/color.scss";
@import "~styles/sizes.scss";
@import "~styles/typography.scss";

.note-list-view {
	color: $gray;
	font-family: $serif, $serif-fallback;
	font-size: $font-size;
	margin-bottom: 12px;
	clear: left;

	.avatar {
		height: $icon-size;
		width: $icon-size;
		float: left;
		margin-right: 12px;
		clip-path: circle( ($icon-size / 2) at center)
	}

	.icon {
		height: 14px;
		width: 14px;
		background-color: $gray;
		border-radius: $icon-size / 4;
		fill: $white;
		border: 2px solid $white;
		padding: 3px;
		position: relative;
			left: 20px - $icon-size;
			top: $icon-size - 18px;
	}

	.subject:not(.excerpt) {
		color: $gray-dark;
		font-weight: bold;
	}
}
